@using DAL.Entities;
@model Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-md-9">

        <section class="panel">
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="pro-img-details">
                        <img src="https://st2.depositphotos.com/13194036/44748/i/600/depositphotos_447487454-stock-photo-close-view-bucket-popcorn-clapperboard.jpg" alt="">
                    </div>

                </div>
                <div class="col-md-6">
                    <h4 class="pro-d-title">
                        <a href="#" rel="tag">
                            @Model.MovieName
                        </a>
                    </h4>
                    <p>
                        @Model.Description
                    </p>
                    <div class="product_meta">
                        <span class="posted_in">
                            <strong>Süre:</strong>
                            <a rel="tag" href="#">@Model.Duration</a>
                        </span>
                    </div>
                    <div class="product_meta">
                        <span class="posted_in">
                            <strong>Kategorisi:</strong>
                            <ul>
                                @foreach (var movieCategory in Model.MovieCategories)
                                {
                                    <li>@movieCategory.Category.CategoryName</li>
                                }
                            </ul>

                        </span>
                    </div>
                    <div class="col-md-4 saloonT">
                        <article class="media">
                            @foreach (var saloon in Model.Theaters)
                            {
                                <div class="media-body">
                                    <h4 class="cmt-head sessionTime" id="sessionTime"><i class="icon-time"></i> Salon: @saloon.Saloon.SaloonName</h4>
                                </div>
                            }
                        </article>
                    </div>
                </div>
            </div>
        </section>

        <section class="panel">
            <header class="panel-heading tab-bg-dark-navy-blue">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a data-toggle="tab" href="#description">
                            Tarih Seçiniz
                        </a>
                    </li>

                </ul>
            </header>
            <div class="panel-body">
                <div class="tab-content tasi-tab">
                    <div id="description" class="tab-pane active col-md-12">
                        <div class="col-md-4">
                            @foreach (var theater in Model.Theaters)
                            {
                                TimeSpan dateDiff = theater.Week.LastDay.Subtract(theater.Week.FirstDay);
                                <article class="media">
                                    <div class="media-body">
                                        <h4 class="cmt-head sessionDate"><i class="icon-time"></i> Bugün</h4>
                                    </div>
                                    @for (int i = 1; i <= dateDiff.Days; i++)
                                    {
                                        <div class="media-body">
                                            <h4 class="cmt-head sessionDate" id="sessionDate"><i class="icon-time"></i> @theater.Week.FirstDay.AddDays(i).ToLongDateString()</h4>
                                        </div>
                                    }
                                </article>
                            }
                        </div>
                        <div class="col-md-4 sessionTime">
                            <article class="media">
                                @foreach (var session in ViewBag.Sessions)
                                {
                                    <div class="media-body">
                                        <h4 class="cmt-head sessionTime" id="sessionTime"><i class="icon-time"></i> @session.Duration</h4>
                                    </div>
                                }
                            </article>
                        </div>
                        <div class="col-md-4">
                            <div id="spinner4">
                                <span class="help-block">
                                    Kişi Sayısı
                                </span>
                                <div class="input-group" style="width:150px;">
                                    <div class="spinner-buttons input-group-btn">
                                        <button type="button" class="btn spinner-up btn-warning">
                                            <i class="icon-plus"></i>
                                        </button>
                                    </div>
                                    <input type="text" id="quantity" class="spinner-input form-control" maxlength="3" readonly>
                                    <div class="spinner-buttons input-group-btn">
                                        <button type="button" class="btn spinner-down btn-danger">
                                            <i class="icon-minus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                   
                </div>
            </div>
        </section>
      
        <a href="#" id="buyTicket" class="btn btn-round btn-danger">Bilet Al</a>
    </div>
</div>
@section Script{
    <script>

        $("#buyTicket").click(function (e) {
            e.preventDefault();

            var cartItem = {
                Id:@Model.Id,
                Quantity : $("#quantity")[0].value,
                MovieDate : $("#sessionDate.active")[0].textContent,
                MovieTime: $("#sessionTime.active")[0].textContent
            }

            var url = '@Url.Action("AddToCart", "Home")';
        if (cartItem != null) {
            $.ajax({
                type: "POST",
                url:url,
                data: JSON.stringify(cartItem),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response != null) {
                        window.location.href = '@Url.Action("MyCart", "Home")';
                    } else {
                        alert("Hatalı İşlem");
                    }
                }
            });
        }
    });
    </script>
}

